*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: VazirMedium;
  font-display: swap;
  src: url("./assets//fonst/Vazir.woff") format("woff");
  font-weight: 500;
}
body {
  direction: rtl;
  font-family: VazirMedium;
}
